* {
	box-sizing: border-box;
	margin: 0 auto;
}
#menu {
	width: 1340px;
	margin: 0 auto;
}
#menu ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* align-content: center; */
	background-color: orange;
	position: relative;
	flex-wrap: wrap;
	padding: 0;
}

#menu li {
	font-size: 14px;
	margin: 0;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	width: 120px;
	text-align: center;
	/* background-color: orange; */
	/* border-radius: 5px */
}

#menu a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

#submenu {
	width: 1340px;
	margin: 0 auto;
	
}
#submenu ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	/* align-content: center; */
	background-color: rgb(245, 195, 102);
	position: relative;
	flex-wrap: wrap;
	padding: 0;
	/* max-height: 100px; */
	height: 300px;
}

#submenu li {
	font-size: 16px;
	margin: 0;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	/* width: 140px; */
	text-align: center;
}

#submenu a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

/*  */
#lo_root {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 1340px;
	height: 600px;
	border: 1px solid black;
}


/*  */
#lo_left {
	width: 600px;
	display: flex;
	align-items: center;
	border: 1px solid black;
}

#lo_left img {
	width: 500px;
	height: 500px;
	object-fit: fill;
	border: 1px solid black;
}

/*  */
#lo_right {
	width: 740px;
	border: 1px solid black;
}

#box_desc {
	margin: 50px;
	border: 1px solid black;

}




/*  */
a.activate {
	background-color: black;
}
